<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_buz_dispatch_management_root"
              name="Dispatch"
              parent="stock.menu_stock_warehouse_mgmt"
              sequence="50"/>

    <menuitem id="menu_buz_dispatch_document"
              name="Dispatch Documents"
              parent="menu_buz_dispatch_management_root"
              action="action_buz_dispatch_document"
              sequence="10"/>

    <menuitem id="menu_buz_dispatch_dashboard"
              name="Dispatch Dashboard"
              parent="menu_buz_dispatch_management_root"
              action="action_buz_dispatch_document_dashboard"
              sequence="20"/>
</odoo>
