<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Report Menu -->
        <menuitem id="menu_tax_report_xlsx"
                  name="Tax Report (Excel)"
                  parent="account.menu_finance_reports"
                  action="action_tax_report_wizard"
                  sequence="50"/>
    </data>
</odoo>
