
<odoo>
  <menuitem id="menu_mog_expense_root" name="Expenses+" parent="hr_expense.menu_hr_expense_root"/>
  <menuitem id="menu_petty_cash_boxes" name="Petty Cash Boxes" parent="menu_mog_expense_root" action="action_petty_cash_boxes"/>
  <menuitem id="menu_expense_advances" name="Advances" parent="menu_mog_expense_root" action="action_expense_advances"/>
  <menuitem id="menu_expense_clearings" name="Advance Clearings" parent="menu_mog_expense_root" action="action_expense_clearings"/>
</odoo>
